@model IEnumerable<StudentManagementSystem.Models.Course>

@{
    ViewBag.Title = "GetCourses";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h2>Courses</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CourseId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CourseName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Credits)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CourseDuration)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CourseFee)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CourseId)
        </th>
        <td>
            @Html.DisplayFor(modelItem => item.CourseName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Credits)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CourseDuration)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CourseFee)
        </td>
        <td>
            @Html.ActionLink("Edit", "EditCourse", "Admin", new { id = item.CourseId },null) |
            @Html.ActionLink("Details", "CourseDetail", "Admin", new { id = item.CourseId },null) |
            @Html.ActionLink("Delete", "DeleteCourse", "Admin", new { id = item.CourseId }, null)
        </td>
    </tr>
}

</table>
