@model IEnumerable<StudentManagementSystem.Models.Course>

@{
    ViewBag.Title = "ViewCourse";
    Layout = "~/Views/Shared/StudentLayout.cshtml";
}

<h2>Courses</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CourseName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Credits)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CourseDuration)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CourseFee)
        </th>
        <th>

        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CourseName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Credits)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CourseDuration)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CourseFee)
        </td>
        <td>
            @Html.ActionLink("Enroll Now", "EnrollForNewCourse", "Student", new { id = item.CourseId }, new {@class="btn btn-primary"})
        </td>
        
    </tr>
}

</table>
