<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <script type="text/javascript">
        function preventBack() { window.history.forward(); }
        setTimeout("preventBack()", 0);
        window.onunload = function () { null };
    </script>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark">
        <div class="container">
            @Html.ActionLink("Student Management System", "Index", "Home", new { @class = "navbar-brand" })
            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" title="Toggle navigation" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            @{
                string studentId = (string)Session["LoginId"];
            }

            <div class="collapse navbar-collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li>@Html.ActionLink("Home", "StudentHome", "Student", new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("Profile", "GetProfile", "Student", new { id = studentId }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("Course", "ViewCourse", "Student", new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("Teachers", "GetTeachers", "Student", new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("Enrollment", "ViewEnrollments", "Student", new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("Payment", "ViewPayments", "Student", new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("Log-out", "Index", "Home", null, new { @class = "nav-link" })</li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>